	ul
		padding 0
		text-align center
		li
			margin-bottom .5em
			a
				display block
				padding .5em 0
			i 
				margin-right .5em
.Perfil
	background #8C3232
	width 15.5em
	flex-shrink 0
	color white
	display flex
	flex-direction column
	justify-content space-between

	&-header-figure
		text-align center
		img
			width 8em
			height 8em
		&-figcaptions
			figcaption 
				padding .5em
				border-radius 5px
				margin-top 1em
				&:first-child
					background #235730
				&:last-child
					background #354A6A
	&-contacto
		&-tel 
			background #538D86
			&:hover
				background #502020
		&-email
			background #7374A0
			&:hover
				background #373854
		&-contratar
			background #759276
			&:hover
				background #205034
	&-redesSociales
		&-twt
			background #55acee
			&:hover
				background lightgrey
		&-fb
			background #3a5795
			&:hover
				background lightgrey
		&-git
			color black
			background #f5f5f5
			&:hover
				background lightgrey
	&-mapa
		background lightgrey
		width 100%
		height 8em
		

@media(max-width:800px)
	.Perfil
		width 100%
		flex-direction row
		&-header-figure
			display flex
			position relative
			&-figcaptions
				position absolute
				left 0
				bottom 0
				top 0
				display flex
				flex-direction column
				justify-content space-between
				width 8em
				figcaption
					margin-top 0
					background transparent !important
			img
				margin-right 1em
		&-redesSociales
			position fixed
			bottom 0
			left 0
			top 0
			ul
				height 100%
				display flex
				flex-direction column
				justify-content center
				li
					width 3em
					a
						display flex
						align-items center
						padding 0 .5em 0 0
					i
						margin 1em
					span
						display none
					&:hover
						width 11em
						span
							display inherit
		&-contacto
			width 100%
			margin-right 2em
			
@media(max-width 420px)
	.Perfil
		&-contacto
			li
				i
					margin 0
				span
					display none

