	ul
		padding 0
		text-align center
		li
			margin-bottom .5em
			a
				display block
				padding .5em 0
			i 
				margin-right .5em
.Perfil
	background #8C3232
	width 15.5em
	flex-shrink 0
	color white
	display flex
	flex-direction column
	justify-content space-between

	&-header-figure
		text-align center
		img
			width 8em
			height 8em
		&-figcaptions
			figcaption 
				padding .5em
				border-radius 5px
				margin-top 1em
				&:first-child
					background #235730
				&:last-child
					background #354A6A
	&-contacto
		&-tel 
			background #538D86
			&:hover
				background #502020
		&-email
			background #7374A0
			&:hover
				background #373854
		&-contratar
			background #759276
			&:hover
				background #205034
	&-redesSociales
		&-twt
			background #55acee
			&:hover
				background lightgrey
		&-fb
			background #3a5795
			&:hover
				background lightgrey
		&-git
			color black
			background #f5f5f5
			&:hover
				background lightgrey
	&-mapa
		background lightgrey
		width 100%
		height 8em