@import 'normalize.styl'
li
	list-style none
a
	color inherit

h2,p{
	margin 0
}

body
	font-size 16px
	display flex
	position fixed
	height 100%
	width 100%
.Perfil
	background red
	width 15.5em
	flex-shrink 0


@import './barraLateral.styl'
@import './contenido.styl'
@import './popup.styl'




@media(max-width:800px)
	body
		flex-direction column
		