@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?habkl3');
	src:url('fonts/icomoon.eot?habkl3#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?habkl3') format('truetype'),
		url('fonts/icomoon.woff?habkl3') format('woff'),
		url('fonts/icomoon.svg?habkl3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e900";
}
.icon-youtube:before {
	content: "\e905";
}
.icon-git:before {
	content: "\e906";
}
.icon-twitter:before {
	content: "\e901";
}
.icon-fb:before {
	content: "\fb";
}
.icon-email:before {
	content: "\ea";
}
.icon-tel:before {
	content: "\e904";
}

