<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Jorge Valdes
		link(rel="stylesheet" type="text/css" href="css/estilos.css") 
		link(rel="stylesheet" type="text/css" href="css/fonts.css")
	body
		section#popup.Popup
			article.Popup-container
				i#closePopup.icon-close
				form.Popup-container-form
					input(type="email" placeholder="example@dominio.com" required)
					input(type="text" placeholder="Tu nombre aqui" required)
					textarea(placeholder="Escriba su mensaje" required)
					button(type="submit") Enviar
				div#map.Popup-container-map
		section.Perfil
			header.Perfil-header
				figure.Perfil-header-figure
					img
					div.Perfil-header-figure-figcaptions
						figcaption Jorge Valdes
						figcaption Front-end
			article.Perfil-contacto
				ul
					li.Perfil-contacto-tel 
						a(href="tel:+528442559823")
							i.icon-tel
							span (844) 255 9823
					li.Perfil-contacto-email 
						a(href="mailto:alexvaldes95@gmail.com")
							i.icon-email
							span alexvaldes95@gmail.com
					li#btnPopup.Perfil-contacto-contratar 
						a(href="#")
							i.icon-contratar
							span Contratar
			article.Perfil-redesSociales
				ul
					li.Perfil-redesSociales-twt 
						a(href="http://www.twitter.com" target="_blank")
							i.icon-twitter
							span @alexvaldes
					li.Perfil-redesSociales-fb 
						a(href="http://www.fb.com" target="_blank")
							i.icon-fb
							span @jorgevaldes_07
					li.Perfil-redesSociales-git 
						a(href="http://www.github.com" target="_blank")
							i.icon-git
							span @alexvaldes
			//article#map.Perfil-mapa
		section.Contenido
			article.Contenido-skill
				div.Contenido-skill-info
					div
						h2.Contenido-skill-info-title Desarrollo de aplicaciones web
						p.Contenido-skill-info-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,

		script(src="https://maps.googleapis.com/maps/api/js")
		script(src="./js/app.js")