<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Jorge Valdes
		link(rel="stylesheet" type="text/css" href="css/estilos.css") 
	body
		p hola jade
		section
			header
				figure
					img
					figcaption Jorge Valdes
					figcaption Front-end
			article
				ul
					a
						li 
							i
							span (844) 255 9823
					a
						li 
							i
							span alexvaldes95@gmail.com
					a
						li 
							i
							span Contratar
			article
				ul
					a
						li 
							i
		section
			article
				div
					h2 Desarrollo web
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			article
				div
					h2 Desarrollo de Apps moviles
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

